html {
    height: 100%;

}
input.form-control,
select.form-control,
option:disabled  {
    background: rgba(21, 32, 80, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F4F4F5 !important;
}

.right {
    float: right;
}

.left {
    float: left;
}


.table {
    color: #fff;
}
.page-link, .page-item.disabled .page-link {
    background-color: transparent;
}
.avatar {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.hidden {
    display: none;
}


input.form-control:focus,
select.form-control:focus {
    background: rgba(21, 32, 80, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Responsive Properties */
body {
    height: 100%;
    padding: 0;
    /* overflow: hidden; */
    min-height: 100%;
    background: #15202B;
    font-family: "Poppins", sans-serif;
    color: #F4F4F5;
}

.left-side {
    margin: auto;
}

.login-link {
    margin: auto 2px;
    font-size: 110%;
}

.login-link:hover {
    text-decoration: underline;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.logo-img {
    height: 60px;
    width: 60px;
    margin-right: 5px;
}

.header-title {
    margin: auto;
    margin-top: 8%;
    width: 70%;

    text-align: center;
}

.discover-ideas {
    background-image: linear-gradient(25deg, #24032B, #34789D);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 86%;
    text-align: center;
    padding: 8px;
    margin: auto;
    font-size: 22px;
    font-weight: 600;
    color: #F4F4F5;
    background-size: 200% auto;
    transition: 0.5s;
}

.line-separator {
    width: 52%;
    border: 2px solid #F4F4F5;
    margin: auto;
    border-radius: 3px;
}

a:hover {
    text-decoration: none;
}

.tweet-button-container {
    margin: 8% auto;
    width: 70%;
}

.auth-buttons {
    display: block;
    margin: 9% auto;
    width: 70%;
}

.login {
    background-image: linear-gradient(25deg, #1DDD77, #1C6FE3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 86%;
    text-align: center;
    padding: 8px;
    margin: auto;
    font-size: 22px;
    font-weight: 600;
    color: #15202B;
    background-size: 200% auto;
    transition: 0.5s;
}

div.card {
    background-color: transparent;
}

.signup {
    background-image: linear-gradient(to right, #E040FB, #00BCD4);
    /*linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 86%;
    text-align: center;
    padding: 8px;
    margin: auto;
    margin-top: 6%;
    font-size: 22px;
    font-weight: 600;
    color: #E4E4F5;
    background-size: 200% auto;
    transition: 0.5s;
}

.signup:hover,
.login:hover,
.discover-ideas:hover {
    background-position: bottom center;
    color: #F4F4F5;
}

.react {
    font-size: 1.25em;
}

.red {
    background-color: rgba(237, 58, 42, .24);
    color: rgb(237, 58, 42);
    /* padding: 2em; */
    border-radius: 50%;
}

.green {
    background-color: rgba(58, 193, 114, .24);
    color: rgb(58, 193, 114);
    /* padding: 2em; */
    border-radius: 50%;
}

.cyan {
    background-color: rgba(50, 154, 240, .24);
    color: rgb(50, 154, 240);
    /* padding: 2em; */
    border-radius: 50%;
}

.post:hover {
    color: #f8f9fa;
    background-color: rgba(58, 193, 114, 0.1) !important;
    /*background-color: #F4F4F5;*/
}

.right-side-welcome {
    background: url(/images/welcome-banner.jpg);
}

.right-side-signup {
    background: url(/images/Signup-banner.jpg);
}

.right-side-login {
    background: url(/images/login-banner.jpg);
}


.forget-pwd {
    float: right;
    padding: 0;
}


.right-side {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


a.logo,
a.logo:hover {
    text-decoration: none;
    color: inherit;
}

.row {
    height: 100%;
}


.img-pb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Main Sidebar Menu */

.logo-container-sidebar {
    margin-top: 4%;
    margin-bottom: 4%;
    padding-inline-start: 40px;
    justify-content: start;
}

.logo-img-sidebar {
    height: 40px;
    width: 40px;
    /*margin-right: 5px;*/
}

.header-logo-side {
    margin-bottom: 0;
}


/*.col-15 {
  flex: 0 0 12%;
  max-width: 12%;
}

.col-105 {
  lex: 0 0 88%;
  max-width: 88%;
}
*/

.flex {
    display: flex;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.justify-between {
    justify-content: space-between;
}

.btn:focus {
    box-shadow: none;
}

.react-container {
    width: 80%;
    margin-left: -12px;
}


.react-count-container {
    padding: 0.6rem 0.75rem;
    padding-left: 0;
}

.span-react {
    font-size: .9em;
    padding: 0.375rem 0.75rem;
    padding-left: 0;

}

.posts {
    /*padding: 5px;*/
    position: relative;
    top: 72px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: #F4F4F5;
    fill: ##15202B;
}

.post {
    border-bottom: 1px solid #eee;
    margin-left: unset;
    margin-right: unset;
    padding-bottom: 5px;
    /*padding-top: 10px;*/
}

.post-header {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 10px;*/
    color: inherit;
    padding-top: 10px;
    /*padding-right: 20px;*/
}

.post-body {
    /*padding-right: 15px;*/
    margin-top: 2%;
}

.media {
    max-width: max-content;
    /*max-height: auto;*/
}

.post-media {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.header-logo-text-sidebar {
    margin-bottom: 0;
    font-size: 1.15em;
}

a.post-name:hover {
    text-decoration: underline;
}

.post-username {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: start;
}

ul a li,
li.hamburger-list {
    list-style: none;
    /*margin: 6%;*/
    padding: 10px 30px;
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 2.5%;
    font-size: 0.9em;
}

.humburger-list {
    display: none;
}

.bi::before {
    display: inline-block;
    content: "";
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

.mr-3 {
    margin-right: 3%;
}

ul li.menu-item:hover {
    background-color: rgba(58, 193, 114, 0.1) !important;
    color: rgb(58, 193, 114);
}

.bg-card {
    background: rgba(0, 0, 0, 0.24) !important;
}

.bg-modal {
    background: #0f171e !important;
    /* background: rgba(15, 23, 30, .9) !important; */
}

.vm--container {
    z-index: 9999 !important;
}

/* .vm--modal {
    background-color: #666 !important;
    z-index: 9999;
} */
input::placeholder, textarea::placeholder {
    color: #F4F4F5 !important;
}

.active {
    background-color: rgba(58, 193, 114, 0.1) !important;
    color: rgb(58, 193, 114);
}

.logo-side-color {
    color: #fe5060;
}



ul a {
    text-decoration: none;
    color: inherit;
}

ul a:hover {
    color: inherit;
}

.menu-item-container {
    display: flex;
    justify-content: start;
    align-items: center;
    /*margin-left: 7%;*/
    /*padding: auto 5px*/
}

.btn-sidebar {
    display: block;
    width: 80%;
    /* border-radius: 21px; */
    font-weight: 600;
    padding: 10px;
}

.btn-sidebar:first-child {
    margin-bottom: 4%;
}

.main-wall-header {
    max-width: 748px;
    margin-right: auto;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
    position: fixed;
    top: 0;
    z-index: 3333;
    background: #15202B;
    right: 350px;
    left: 275px;
    margin: auto 1px;
    /*margin-left: 16px;*/
    /*width: 100%;*/
}


.profile-bottom {
    list-style: none;
    margin-left: -13%;
}

.logo-img-menu {
    width: 25px;
    height: 25px;
    margin-right: 5%;
}

.fixed-left {
    position: fixed;
    top: 0px;
    /*left:0;*/
    z-index: 1030;
    width: 275px;
    overflow-y: auto;
    overflow-x: hidden;
}

.fixed-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    width: 245px;
}

.header-logo-text-sidebar-link {
    font-size: 0.9em;
}


/* 320px — 480px: Mobile devices */
@media screen and (max-width: 500px) and (min-width: 320px) {
    .header-logo-text {
        font-size: 2em;
    }

    .h1-header {
        font-size: 18px;
    }

    .span-header {
        font-size: 22px;
    }

    .discover-ideas,
    .login,
    .signup {
        font-size: 12px;
        padding: 8px;
    }

    .right-side {
        display: none;
    }

    .wrap {
        align-items: center;
        justify-content: center;
    }

    .forget-pwd {
        float: right;
        font-size: 0.8em;
    }
}

/* 481px — 768px: iPads, Tablets */
@media screen and (max-width: 768px) and (min-width: 501px) {

    /*.span-header {
    font-size: 26px;
  }*/
    .discover-ideas,
    .login,
    .signup {
        font-size: 20px;
        padding: 10px;
    }

    .right-side {
        display: none;
    }

    .wrap {
        align-items: center;
        justify-content: center;
    }

}

.main-wall {
    margin-left: 275px;
    margin-right: 350px;
    width: auto;
    border: 1px solid #eee;
    border-top: none;
    border-bottom: none;
    padding: 0;
    height: 100%;
    max-width: 750px;
    min-width: 400px;
}

.logo {
    font-size: 1.5em;
}

.img-md {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 3%;

}




.profile-sidebar {

    /*width: 85%;*/
    height: 65px;
    margin: auto;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: inherit;
}

.profile-sidebar:hover {
    background-color: rgba(58, 193, 114, .24);}

.profile-link-right-side {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    color: #F4F4F5;
}

@media screen and (min-width: 769px) {
    .fixed-left {
        bottom: 0;
        /*flex-flow:column nowrap;*/
        /*align-items:flex-start;*/
        right: auto
    }

    .fixed-right {
        bottom: 0;
        width: 350px;
        /*flex-flow:column nowrap;*/
        /*align-items:flex-start;*/
        left: auto
    }
}



/* 769px — 1024px: Small screens, laptops */
@media screen and (max-width: 991px) and (min-width: 769px) {

    .login,
    .signup,
    .header-title,
    .logo-container,
    .discover-ideas,
    .tweet-button-container {
        margin-top: 3%;
    }



    .tweet-button-container,
    .auth-buttons {
        margin: 3% auto;
        width: 50%;
    }

    .line-separator {
        width: 30%;
        border: 1px solid #F4F4F5;
    }

    .right-side {
        display: none;
    }

    .container-fluid {
        background-image: url(/images/welcome-banner-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: rgba(0, 0, 0, .5); */
    }

    .wrap {
        align-items: center;
        justify-content: center;
    }

    .logo-img {
        height: 75px;
        width: 75px;
        margin-right: 10px;
    }

    .discover-ideas,
    .login,
    .signup {
        font-size: 20px;
        padding: 10px;
    }
}

.text-button {
    font-size: .9em;
}


@media screen and (max-width: 1024px) {

    /*.header-logo-text-sidebar {
    display: none;
  }*/

    /*.left-side {
    width: 75px;
  }*/

    .fixed-left {
        bottom: 0;
        right: auto;
        width: 100px;
        /*margin-left: 1%;*/
    }

    .fixed-right {
        bottom: 0;
        width: 350px;
        /*flex-flow:column nowrap;*/
        /*align-items:flex-start;*/
        left: auto
    }

    .logo-container-sidebar {
        margin: 19% auto 25% auto;
        justify-content: center;
    }

    .header-logo-side {
        display: none;
    }

    ul a li,
    li.hamburger-list {
        list-style: none;
        /*margin: 6%;*/
        padding: 10px;
        border-radius: 50%;
        margin: 5% auto;
    }

    .menu-item-container {
        justify-content: center;
        margin: auto;
    }

    .button-part {
        margin: 25% auto;
        /*padding-left: 10px;*/
    }

    .button-part div:first-child {
        margin-bottom: 25%;
    }

    .text-button {
        display: none;
    }

    button#post,
    button#report {
        width: fit-content;
    }

    .btn-sidebar {
        padding: 7px;
    }

    .btn-sidebar:first-child {
        margin-bottom: 10%;
    }


    .profile-bottom {
        width: auto;
    }

    .profile-sidebar {
        /*height: 87px;*/
        /*margin: auto;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;*/
        /* padding: 10px; */
        /*color: inherit;*/
        padding: 0;

    }

    .btn-sidebar {
        margin: auto;
    }

    .profile-sidebar:hover {
        background-color: transparent;
    }


    .username {
        display: none;
    }

    .up-arrow-part {
        display: none;
    }

    .profile-ticket {
        width: auto;
    }

    .img-bottom {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        /*margin-right: 3%;*/
    }

    .header-logo-text-sidebar-link {
        display: none;
    }

    .logo-img-menu {
        width: 25px;
        height: 25px;
        margin: auto;
    }

    .main-wall {
        margin-left: 100px;
    }

    ul {
        /*padding: 0;*/
    }

    .main-wall-header {
        left: 100px;
        margin: auto 1px;
    }

    .menu-item {
        /*padding: 0;*/
        width: fit-content;
    }

}




@media screen and (min-width: 1280px) {}

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1025px) {

    .left-side {
        /*width:350px;*/
    }
}



@media screen and (min-width: 1025px) {

    .left-side {
        /*width:350px;*/
    }
}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (max-width: 1200px) and (min-width: 992px) {

    .span-header {
        font-size: 30px;
    }

    .h1-header {
        font-size: 24px;
    }

    .col-lg-6 {
        display: block;
        max-width: 100%;
    }

    .discover-ideas,
    .login,
    .signup {
        font-size: 18px;
        padding: 10px;
    }

    .left-side {
        margin: auto;
    }

    .forget-pwd {
        float: right;
        font-size: 0.8em;
    }


}

@media screen and (max-width: 1200px) {
    .fixed-left {
        bottom: 0;
        right: auto;
        width: 100px;
        /*margin-left: 1%;*/
    }

    .fixed-right {
        bottom: 0;
        width: 350px;
        left: auto;
    }

    .logo-container-sidebar {
        margin: 19% auto 25% auto;
        justify-content: center;
    }

    .header-logo-text-sidebar {
        display: none;
    }

    .header-logo-side {
        display: none;
    }

    ul a li,
    li.hamburger-list {
        list-style: none;
        padding: 10px;
        border-radius: 50%;
        margin: 5% auto;
    }

    .menu-item-container {
        justify-content: center;
        margin: auto;
    }

    .button-part {
        margin: 25% auto;
        /*padding-left: 10px;*/
    }

    .button-part div:first-child {
        margin-bottom: 25%;
    }

    .text-button {
        display: none;
    }

    button#post,
    button#report {
        width: fit-content;
    }

    .btn-sidebar {
        padding: 7px;
    }

    .btn-sidebar:first-child {
        margin-bottom: 10%;
    }

    ul,
    .logo-container-sidebar {
        padding-inline-start: 0;
    }



    .profile-bottom {
        width: auto;
        margin: auto;
    }

    .profile-sidebar {
        /*height: 87px;*/
        /*margin: auto;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;*/
        /* padding: 10px; */
        /*color: inherit;*/
        padding: 0;

    }

    .btn-sidebar {
        margin: auto;
    }

    .profile-sidebar:hover {
        background-color: transparent;
    }


    .username {
        display: none;
    }

    .up-arrow-part {
        display: none;
    }

    .profile-ticket {
        width: auto;
    }

    .img-bottom {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        /*margin-right: 3%;*/
    }

    .header-logo-text-sidebar-link {
        display: none;
    }

    .logo-img-menu {
        width: 25px;
        height: 25px;
        margin: auto;
    }

    .main-wall {
        margin-left: 100px;
    }

    ul {
        /*padding: 0;*/
    }

    .main-wall-header {
        left: 100px;
        margin: auto 1px;
    }

    .menu-item {
        /*padding: 0;*/
        width: fit-content;
    }

    .profile-details,
    .up-arrow-part {
        display: none;
    }

    .m-b-report {
        margin-bottom: 3px;
    }
}




@media screen and (max-width: 950px) {
    .fixed-right {
        display: none;
    }

    .hidden-md {
        display: none;
    }

    ul a li,
    li.hamburger-list {
        font-size: .9em;
    }

    .main-wall {
        margin: auto;
        margin-left: 75px;
        margin-right: 0;
    }

    .main-wall-header {
        left: 100px;
        /*margin: auto;*/
    }

    .fixed-left {
        width: 75px;
        margin-left: 0;

    }

    ul,
    .logo-container-sidebar {
        padding-inline-start: 0px;
    }

    .main-wall-header {
        left: 75px;
        margin: auto 1px;
        margin-right: 0;
        right: 0;
    }
}

@media screen and (max-width: 750px) {
    .hidden-sm {
        display: none;
    }

    nav .search-bar {
        width: 90%;
    }
}

@media screen and (max-width: 650px){
    #app {
        height: 100%;
        margin: auto 0;
        padding: 15px 0;
    }
    .card {
        font-size: 90%;
     }
}

@media screen and (max-width: 500px) {
    .fixed-right {
        display: none;
    }

    .top-logo {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .hidden-sm {
        display: none;
    }

    .card-body {
        padding: 0;
    }

    .fixed-left {
        position: fixed;
        bottom: auto;
        right: 0;
        left: 0;
        height: 52px;
        top: 0;
        width: 100%;
        margin-bottom: 0;
        background: #15202B;
        border-bottom: 1px solid #666;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .main-wall-header {
        display: none;
    }

    .fixed-left ul {
        display: flex;
        margin-bottom: 0;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    ul,
    .logo-container-sidebar {
        padding-inline-start: 0px;
    }


    .menu-item {
        /* padding: 0; */
        width: fit-content;
        /* width: 100%;*/
    }

    .hide-menu {
        display: none;
    }

    .main-wall {
        left: 0;
        margin-left: 0;
        border: none;
        padding: 10px;
        top: 50px;
        position: relative;
    }

    /*.main-wall-header {
          left: 0px;
          margin: auto 1px;
          margin-right: 0;
          margin-left: 0;
          right: 0;
          width: 100%;
      }*/

    li button.humburger {
        color: #F4F4F5;
        display: block !important;
    }



    .dropd-menu {
        display: block;
        position: fixed;
        background-color: #15202B;
        top: 52px;
        right: 0;
        left: 0px;
        bottom: auto;
        z-index: 999;
    }

    .menu-item-container {
        align-items: end
    }

    .dropd-menu ul {
        display: block;
    }

    li.hidden:hover {
        border-radius: unset;
        width: 100%;
        margin: auto;
    }

    li.hidden {
        margin: auto;
        padding: 4% 0;
    }

    .humburger-list {
        display: block;
        padding: 8px;
        /*color: #F4F4F5 ;*/
    }

    ul li button.hamburger {
        padding: 0;
        color: #F4F4F5;
    }

    ul li button svg,
    ul li svg {
        width: 1.3em;
        height: 1.3em;
    }

    ul li button.hamburger:hover {
        padding: 0;
        color: rgb(254, 80, 96) !important;
    }

    /*ul li.humburger-list:hover {
        background-color: rgba(254, 80, 96, 0.1);
        color: rgb(254, 80, 96) !important;
        border-radius: 50%;
      }*/

    ul li.menu-item:hover {
        background-color: rgba(254, 80, 96, 0.1);
        color: rgb(254, 80, 96);
        /*border-radius: 50%*/
    }

    ul li.humburger-list:hover {
        background-color: transparent;
        color: rgb(254, 80, 96) !important;
        /*border-radius: 50%;*/
    }

    ul {
        margin-bottom: 0;
    }

    .posts {
        top: 50px;
    }

    .post {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }

    .post-body {
        margin: auto;
        margin-right: 1em !important;
    }

    .img-md {
        width: 40px;
        height: 40px;
        margin: 20% 10% 10% 13% !important;
    }

    .posts {
        font-size: 90%;
    }
}

/*button.hamburger {
    display: none;
  }
*/
